body, html {
    height: 100%;
    width: 100%;
}

.h-1 {
    height: 1%;
}

.h-3 {
    height: 3%;
}

#logoNavBar {
    height: 75px;
}

.navbar {
    background-color: #082d74;
}

.navbarHeader {
    margin-top: 75px;
}

.navbarHeader2 {
    margin-top: 55px;
}

#cardEvent1 {
    align-items: center;
}

#cardEvent2 {
    align-items: center;
}

.card-event-design {
    padding:8px;
    background-color: #082d74;
    border-radius: 35px;

}
#text-event {
   color: white;
}

#Link, #Link:visited {
    text-decoration: none;
    color: black;
}

.taille-card {
    border-radius: 12px;
}

.card-img-top {
    border-radius: 12px;
    border-left: 12px;
    padding: 5px;
}

.card-conteneur {
    background-color: #f2f5fb;
    border-radius: 35px;
}

.btn-index {
    height: 100%;
}

.background-details {
    background-color: #b9c3d5;
}
.background-details2 {
    background-color: #082d74;
}
.btn-custom {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    font-weight: bold;
    background-color: white
}

.btn-custom:active {
    transform: scale(0.96);
}