body,html {
    height: 100%;
    width: 100%;
}

#test {
    background-color: black;
}



#btnConnexion {
    border-radius: 4px;
    border-width: 1px;
    color: palevioletred;
    background-color: pink;
}

.h30 {
    height: 33.3%;
}

