body,
html {
    height: 100%;
    width: 100%;
    background-color: bisque; /* Couleur bleu marine */
}

.navbar {
    background-color: #082d74;
}

#logoNavBar {
    height: 75px;
}

.navText {
    color: white;
}

#Link, #Link:visited {
    text-decoration: none;
    color: black;
}

.test1 {
    margin-top: 150px;
}

.h-30 {
    height: 30%;
}

.btn-index {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    font-weight: bold;
}

.btn-index:hover {
    background-color: #0056b3;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
}
.btn-index:active {
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    overflow: hidden;
}
.card:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    transform: translateY(-5px);
}

.h-80 {
    height: 80%;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-weight: bold;
    margin-bottom: 15px;
}
input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

input[type="submit"]:hover {
    background-color: #0056b3;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}
